<%- include('../templates/header'); -%>
            <section class="main">
                <%- include('../templates/flash'); -%>
                <% if(lnks) { %>
                <h1 class="mt-4"><%= title %>'s profile </h1>
                <div class="row mt-5">
                    <%if (lnks.length > 0) { %>
                    <% lnks.forEach(l => {%>
                    <div class="col-lg-4 col-sm-12 col-md-6 lnk">
                        <a href="<%= l.link %>" target="_blank"><img src=<%= l.thumbnail_url %> class="img-fluid"
                                alt=""></a></div>
                    <% });%>
                    <%}%>
                </div>
                <%}%>

            </section>
<%- include('../templates/footer'), -%>
